[submodule "xxHash"]
	path = xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "php-xxhash"]
	path = php-xxhash
	url = https://github.com/Megasaxon/php-xxhash.git
[submodule "kcgi"]
	path = kcgi
	url = https://github.com/kristapsdz/kcgi.git
